 
            #titulo, #subtitulo {
                text-align: center;
            }

            body {
                background-color: gray;
            }
            #veja_mais {
                color:blue;
            }
        